<div class="d-flex justify-content-center ">
  <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
    <div class="card-body">
      <%= form_with(model: meeting, data: { controller: "escape-cancel" }) do |form| %>
        <% if meeting.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% meeting.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row mb-2">
          <div class="col-12 col-md-3">
            <%= form.label :date, class: "required" %>
            <%= form.text_field :date, class: "form-control", autofocus: true, placeholder: "mm/dd/yyyy", value: form.object.date.present? ? l(form.object.date, format: :american) : l(meeting.unit.next_available_sunday, format: :american) %>
          </div>

          <div class="col-12 col-md-4">
            <%= form.label :meeting_type, class: "required" %>
            <%= form.select :meeting_type, options_for_select(Meeting.meeting_types.keys.map { |key| [key.titleize, key] }, meeting.meeting_type), {}, class: "form-select form-control" %>
          </div>

          <div class="col-12 col-md-3">
            <%= form.label :scheduled_by %>
            <%= form.select :scheduler_id, select_options_for_meeting_scheduler(meeting), {}, class: "form-select form-control" %>
          </div>

          <div class="col-12 col-md text-md-end">
            <br/>
            <%= button_tag type: "submit", class: "btn btn-outline-primary" do %>
              <%= fa_icon("check-circle") %>
            <% end %>

            <% if meeting.persisted? %>
              <%= link_to fa_icon("times-circle"), meeting, class: "btn btn-outline-secondary", data: { "escape-cancel-target" => "link" } %>
            <% else %>
              <%= link_to fa_icon("times-circle"), meetings_path, target: "_top", class: "btn btn-outline-secondary", data: { "escape-cancel-target" => "link" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
