<%# locals: (meeting:, current: false) %>

<% current ||= false %>

<%= turbo_frame_tag dom_id(meeting) do %>
  <div class="d-flex justify-content-center">
    <div class='<%= "card bg-light m-1 w-100 w-max-700 #{callout_class(meeting)}".strip %>'>
      <div class="card-header">
        <div class="row pt-2">
          <div class="col-12 col-md font-weight-bold">
            <div>
              <h5>
                <%= l(meeting.date, format: :rfc822) %>
                <% unless meeting.date.sunday? %>
                  <span class="text-primary"><%= "(#{::Date::DAYNAMES[meeting.date.wday]})" %></span>
                <% end %>
              </h5>
            </div>
            <div>
              <%= status_icon(meeting.status) %>
              <%= meeting.meeting_type.humanize %>
            </div>
          </div>
          <% if current_user.music_editor? %>
            <div class="col-12 col-md-2 text-md-end">
              <%= link_to_meeting_edit(meeting, class: "mt-2 mt-md-2") %>
              <% if current_user.unit_admin? %>
                <%= link_to_meeting_delete(meeting, class: "mt-2 mt-md-2") %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab-<%= dom_id(meeting) %>" role="tablist">
          <button class="nav-link active" id="nav-talks-tab-<%= dom_id(meeting) %>" data-bs-toggle="tab" data-bs-target="#nav-talks-<%= dom_id(meeting) %>" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Talks</button>
          <button class="nav-link" id="nav-music-tab-<%= dom_id(meeting) %>" data-bs-toggle="tab" data-bs-target="#nav-music-<%= dom_id(meeting) %>" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Music</button>
          <button class="nav-link" id="nav-program-tab-<%= dom_id(meeting) %>" data-bs-toggle="tab" data-bs-target="#nav-program-<%= dom_id(meeting) %>" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Contributors</button>
        </div>
      </nav>
      <div class="card-body">
        <div class="tab-content" id="nav-tabContent-<%= dom_id(meeting) %>">
          <div class="tab-pane fade show active" id="nav-talks-<%= dom_id(meeting) %>" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
              <div class="col-12">
                <%= turbo_frame_tag "meeting_#{meeting.id}_talks", data: { controller: :drag, "drag-url-value" => "/meetings/#{meeting.id}/talks/:id/move" } do %>
                  <%= render partial: "talks/talk_mini", collection: meeting.talks, as: :talk %>
                <% end %>
              </div>
              <% if current_user.unit_admin? %>
                <div class="col-12">
                  <%= turbo_frame_tag "new_meeting_#{meeting.id}_talk" do %>
                    <%= link_to fa_icon("plus", text: " Add talk"),
                                new_meeting_talk_path(meeting),
                                data: { turbo_frame: "new_meeting_#{meeting.id}_talk" },
                                class: "btn btn-primary btn-sm"
                    %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-music-<%= dom_id(meeting) %>" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row">
              <div class="col-12">
                <%= turbo_frame_tag "meeting_#{meeting.id}_songs" do %>
                  <%= render partial: "songs/song", collection: meeting.songs.default_order %>
                <% end %>
              </div>
              <% if current_user.music_editor? %>
                <div class="col-12">
                  <%= turbo_frame_tag "new_meeting_#{meeting.id}_song" do %>
                    <%= link_to fa_icon("plus", text: " Add song"),
                                new_meeting_song_path(meeting),
                                data: { turbo_frame: "new_meeting_#{meeting.id}_song" },
                                class: "btn btn-primary btn-sm"
                    %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-program-<%= dom_id(meeting) %>" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row">
              <div class="col-12">
                <%= render partial: "meetings/contributors", locals: { meeting: meeting } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if current %>
    <hr class="hr-text" data-content="Today" data-meetings-target="todayIndicator">
  <% end %>
<% end %>
