<%= turbo_frame_tag dom_id(meeting) do %>
  <div class="d-flex justify-content-center">
    <div class="card bg-light mt-2 w-100 <%= 'callout' if meeting.scheduler_id == current_user.id %>" style="max-width: 700px;">
      <div class="card-header">
        <div class="row pt-2">
          <div class="col-12 col-md font-weight-bold">
            <div>
              <h5>
                <%= l(meeting.date, format: :rfc822) %>
                <% unless meeting.date.sunday? %>
                  <span class="text-primary"><%= "(#{::Date::DAYNAMES[meeting.date.wday]})" %></span>
                <% end %>
              </h5>
            </div>
            <div>
              <%= status_icon(meeting.status) %>
              <%= meeting.meeting_type.humanize %>
            </div>
          </div>
          <div class="col-12 col-md-2 text-md-end">
            <%= link_to_meeting_edit(meeting, class: "mt-2 mt-md-2") %>
            <%= link_to_meeting_delete(meeting, class: "mt-2 mt-md-2") %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <%= turbo_frame_tag "meeting_#{meeting.id}_talks" do %>
              <%= render partial: "talks/talk_mini", collection: meeting.talks, as: :talk %>
            <% end %>
          </div>
          <div class="col-12">
            <%= turbo_frame_tag "new_meeting_#{meeting.id}_talk" do %>
              <%= link_to fa_icon("plus", text: " Add talk"),
                          new_meeting_talk_path(meeting),
                          data: { turbo_frame: "new_meeting_#{meeting.id}_talk" },
                          class: "btn btn-primary btn-sm"
              %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
