<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong><%= "#{@meetings_view_object.unit_name} Meetings" %></strong></h2>
  </div>
  <div class="col-md">
    <h5 class="mt-md-4 pt-md-3 text-md-end text-muted">
      <%= filtered_and_total_count(@meetings_view_object.filtered_count, @meetings_view_object.total_count, "meeting") %>
    </h5>
  </div>
</div>

<hr/>
<br/>

<div class="row">
  <div class="col-12 col-md-6 col-inline mt-1">
    <%= filter_meetings_type_dropdown(request.params, label: "Meeting Type") %>
  </div>
</div>

<hr/>
<% if current_user.music_editor? %>
  <div class="d-flex justify-content-center">
    <div class="my-2 w-100" style="max-width: 700px;">
      <%= turbo_frame_tag :new_meeting do %>
        <%= link_to fa_icon("plus", text: " Add"), new_meeting_path, data: { turbo_frame: "new_meeting" }, class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </div>
<% end %>

<article>
  <%= turbo_frame_tag "page_handler" %>
  <div id="meetings">
    <%= render partial: "meeting", collection: @meetings_view_object.meetings %>
  </div>
  <%= render "shared/pager", pagy: @meetings_view_object.pagy %>
</article>
