<div class="d-flex justify-content-center">
  <div class="card bg-light mt-3 w-100" style="max-width: 700px;" data-controller="highlight" data-highlight-target="element" data-highlight-created-value="<%= notification.read_at.to_i %>">
    <div class="card-body">
      <% if notification.to_notification.present? %>
        <h6><strong><%= notification.to_notification.message %></strong></h6>
        <% if notification.to_notification.params[:user].present? %>
          <h6>User: <%= "#{notification.to_notification.params[:user].name} (#{notification.to_notification.params[:user].email})" %></h6>
        <% end %>
        <% if notification.to_notification.respond_to?(:url) %>
          <h6>Link: <%= link_to "#{notification.to_notification.url}", notification.to_notification.url %></h6>
        <% end %>
      <% else %>
      <h6>[This notification can no longer be rendered]</h6>
      <% end %>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col">
          <span class="small text-muted"><small><%= "Created #{time_ago_in_words(notification.created_at)} ago" %></small></span>
        </div>
        <div class="col text-end">
          <span class="small text-muted"><small><%= "Read #{time_ago_in_words(notification.read_at)} ago" %></small></span>
        </div>
      </div>
    </div>
  </div>
</div>
