<div class="d-flex justify-content-center ">
  <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
    <div class="card-body">
      <%= form_with(model: [talk.meeting, talk], data: { "turbo-frame" => dom_id(talk.meeting) }) do |form| %>
        <% if talk.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% talk.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row mb-2">
          <div class="col-12 col-md">
            <%= form.label :speaker_name, class: "required" %>
            <%= form.text_field :speaker_name,
                                list: "speaker_name_autocomplete",
                                class: "form-control",
                                placeholder: "Last, First",
                                autofocus: true,
                                data: { "form-target" => "autofocusInput" } %>
            <datalist id="speaker_name_autocomplete">
              <% talk.unit_members.alphabetized.each do |member| %>
                <option value="<%= member.name %>">
              <% end %>
            </datalist>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12 col-md">
            <%= form.label :purpose %>
            <%= form.text_field :purpose,
                                list: "purpose_autocomplete",
                                class: "form-control" %>
          </div>
          <datalist id="purpose_autocomplete">
            <% Talk::DEFAULT_PURPOSE_LIST.each do |purpose| %>
              <option value="<%= purpose %>">
            <% end %>
          </datalist>

          <div class="col-12 col-md">
            <%= form.label :topic %>
            <%= form.text_field :topic, class: "form-control" %>
          </div>

          <div class="col-12 col-md">
            <br/>
            <%= button_tag type: "submit", class: "btn btn-outline-primary" do %>
              <%= fa_icon("check-circle") %>
            <% end %>

            <%= link_to fa_icon("times-circle"), meeting_path(talk.meeting), class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
