<div class="d-flex justify-content-center ">
  <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
    <div class="card-body">
      <%= form_with(model: talk, data: { controller: "form escape-cancel", action: "turbo:submit-end->form#clear" }) do |form| %>
        <% if talk.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% talk.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row mb-2">
          <div class="col-12 col-md">
            <%= form.label :speaker_name, class: "required" %>
            <%= form.text_field :speaker_name,
                                list: "speaker_names_autocomplete",
                                class: "form-control",
                                placeholder: "Last, First",
                                autofocus: true,
                                data: { "form-target" => "autofocusInput" } %>
            <datalist id="speaker_names_autocomplete">
              <% ::Member.alphabetized.each do |member| %>
                <option value="<%= member.name %>">
              <% end %>
            </datalist>
          </div>

          <div class="col-12 col-md">
            <%= form.label "Date", class: "required" %>
            <%= form.text_field :date, class: "form-control", placeholder: "mm/dd/yyyy", value: form.object.date.present? ? l(form.object.date, format: :american) : nil %>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12 col-md">
            <%= form.label :purpose %>
            <%= form.text_field :purpose, class: "form-control" %>
          </div>

          <div class="col-12 col-md">
            <%= form.label :topic %>
            <%= form.text_field :topic, class: "form-control" %>
          </div>

          <div class="col-12 col-md">
            <br/>
            <%= button_tag type: "submit", class: "btn btn-outline-primary" do %>
              <%= fa_icon("check-circle") %>
            <% end %>

            <% if talk.persisted? %>
              <%= link_to fa_icon("times-circle"), talk, class: "btn btn-outline-secondary", data: { "escape-cancel-target" => "link" } %>
            <% else %>
              <%= link_to fa_icon("times-circle"), talks_path, target: "_top", class: "btn btn-outline-secondary", data: { "escape-cancel-target" => "link" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
