<div id="<%= dom_id talk %>">
  <p>
    <strong>Member:</strong>
    <%= talk.member_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= talk.date %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= talk.purpose %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= talk.topic %>
  </p>

</div>
