<%= turbo_frame_tag "meeting_#{talk.meeting.id}_talk_#{talk.id}", data: { id: talk.id } do %>
  <div class="row">
    <div class="col-12 col-md-6 pt-md-2">
      <h6>
        <% if current_user.unit_admin? %>
          <%= fa_icon("grip-vertical", class: "text-muted handle me-1") %>
        <% end %>
        <% if current_user.access_to_lcr? %>
          <% if talk.member_id? %>
            <%= link_to fa_icon("person"), member_path(talk.member_id), target: "_top", data: { "bs-toggle" => "tooltip" }, title: "Visit member page" %>
            &nbsp
          <% else %>
            <%= fa_icon("person", class: "text-muted") %>&nbsp
          <% end %>
        <% end %>
        <%= talk.speaker_name %>
      </h6>
    </div>
    <div class="col-12 col-md-4 pt-md-2">
      <% if talk.purpose? %>
        <h6><%= talk.purpose %></h6>
      <% end %>
      <% if talk.topic? %>
        <h6>"<%= talk.topic %>"</h6>
      <% end %>
    </div>
    <% if current_user.unit_admin? %>
      <div class="col-12 col-md-2 text-md-end">
        <%= link_to_talk_edit(talk) %>
        <%= link_to_talk_delete(talk) %>
      </div>
    <% end %>
  </div>
  <hr/>
<% end %>
