<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong>Talks</strong></h2>
  </div>
  <div class="col-md">
    <h5 class="mt-md-4 pt-md-3 text-md-end text-muted"><%= filtered_and_total_count(@talks.count, Talk.count, "talk") %></h5>
  </div>
</div>

<hr/>

<br/>

<div class="row">
  <div class="col-12 col-md-6 col-inline mt-1">
    <%= sort_talks_dropdown(request.params, @q) %>
  </div>

  <div class="col-12 col-md-6 mt-1">
    <%= search_form_for @q do |f| %>
      <div class="input-group">
        <%= f.search_field :speaker_name_or_purpose_or_topic_cont, placeholder: "Find a talk", autofocus: true, class: "form-control" %>
        <span class="input-group-append">
        <%= button_tag(type: :submit, class: 'btn btn-primary') do %>
            <i class='fas fa-search'></i>
        <% end %>
      </span>
      </div>
    <% end %>
  </div>
</div>

<hr/>

<%= turbo_frame_tag :new_talk, target: "_top" do %>
  <%= render partial: "talks/form", locals: { talk: Talk.new } %>
<% end %>

<article id="talks">
  <%= render partial: "talk", collection: @talks %>
</article>
