<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong>User Settings</strong></h2>
  </div>
</div>

<hr/>

<div class="container-fluid">
  <div class="row flex-nowrap">
    <%= render "sidebar" %>
    <div class="col py-3">
      <h4>Set Avatar</h4>
      <%= form_with(model: current_user, url: settings_update_path, html: { method: :put }) do |f| %>

      <div class="mb-3 text-center">
        <%= f.file_field :avatar, accept:'image/*' %>
      </div>

      <%= image_tag avatar_path(f.object), class: "rounded border shadow-sm d-block mx-auto my-3" %>

        <div class="mb-3 text-center">
          <%= f.submit "Save Changes", class: 'btn btn-primary', data: { turbo: false } %>
        </div>
      <% end %>

      <br/>
      <hr/>
      <h4>Remove Avatar</h4>
      <br/>
      <p><%= link_to "Remove this avatar", settings_remove_avatar_path, data: { confirm: "Are you sure?" }, method: :put, class: "btn btn-outline-danger" %></p>
    </div>
  </div>
</div>
