<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong>User Settings</strong></h2>
  </div>
</div>

<hr/>

<div class="container-fluid">
  <div class="row flex-nowrap">
    <%= render "sidebar" %>
    <div class="col px-md-4 py-3">
      <% if current_user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% current_user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="card mb-5">
        <div class="card-header">
          <h4>Personal Information</h4>
        </div>
        <div class="card-body">
          <%= form_with(model: current_user, url: settings_update_path, html: { method: :put }) do |f| %>
            <div class="mb-3">
              <%= f.label :full_name %>
              <%= f.text_field :name, autofocus: false, class: "form-control", placeholder: "Full name" %>
            </div>

            <div class="mb-3">
              <%= f.label "Phone (to receive text messages)" %>
              <%= f.text_field :phone_number, class: "form-control", placeholder: "XXX-XXX-XXXX" %>
            </div>

            <br/>

            <div class="mb-3">
              <%= f.submit "Save Changes", class: "btn btn-primary", data: { turbo: false } %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-header">
          <h4>Notification Preferences</h4>
        </div>
        <div class="card-body">
          <%= form_with(model: current_user, url: settings_update_path, html: { method: :put }) do |f| %>
            <h5>Email notifications</h5>
            <div class="form-check form-switch mb-4 ms-3">
              <label class="form-check-label" for="email-switch-check-box"><%= current_user.email %></label>
              <%= f.check_box :notification_preference_email, class: "form-check-input fs-5", id: "email-switch-check-box" %>
            </div>

            <h5>Text notifications</h5>
            <div class="form-check form-switch mb-4 ms-3">
              <label class="form-check-label" for="sms-switch-check-box"><%= current_user.phone_number || "Phone number not provided" %></label>
              <%= f.check_box :notification_preference_sms, class: "form-check-input fs-5", id: "sms-switch-check-box", disabled: current_user.phone_number.nil? %>
            </div>

            <br/>

            <div class="mb-3">
              <%= f.submit "Save Changes", class: "btn btn-primary", data: { turbo: false } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
