<%# locals: (song:) -%>

<div class="d-flex justify-content-center ">
  <div class="card bg-light my-4 w-100 border-primary" style="max-width: 700px;">
    <div class="card-body"
         data-controller="song-last-sung"
         data-song-last-sung-unit-id-value="<%= song.meeting.unit_id %>"
    data-song-last-sung-date-value="<%= song.meeting.date %>">
      <%= form_with(model: [song.meeting, song],
                    data: { "turbo-frame" => dom_id(song.meeting),
                            controller: "form escape-cancel",
                            action: "turbo:submit-end->form#clear" }) do |form| %>
        <% if song.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% song.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row mb-2">
          <div class="col-12 col-md">
            <%= form.label :song_type, class: "required" %>
            <%= form.select :song_type,
                            options_for_select(Song.song_types.keys.map { |key| [key.titleize, key] }, song.song_type),
                            {},
                            autofocus: true,
                            class: "form-select form-control" %>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12 col-md">
            <%= form.label :title, class: "required" %>
            <%= form.text_field :title,
                                list: "hymns_autocomplete",
                                class: "form-control",
                                placeholder: "An Inspiring Hymn",
                                data: { "song-last-sung-target" => "input" }%>
            <datalist id="hymns_autocomplete">
              <%= ::Edify::Hymns.datalist %>
            </datalist>
          </div>

          <%= render "last_sung", title: song.title, duration: song.duration_since_previously_sung %>

          <div class="col-12 col-md-3">
            <br/>
            <%= button_tag type: "submit", class: "btn btn-outline-primary" do %>
              <%= fa_icon("check-circle") %>
            <% end %>

            <%= link_to fa_icon("times-circle"),
                        meeting_path(song.meeting),
                        class: "btn btn-outline-secondary",
                        data: { "escape-cancel-target" => "link" } %>
          </div>
        </div>
        <div data-song-last-sung-target="lastSungMessage"></div>
      <% end %>
    </div>
  </div>
</div>
