<h1>Enter Your Credentials</h1>
<p>
  To fetch member data, we will need you to enter your username and password for the Church of Jesus Christ website.
  Credentials are never stored, logged, or exposed. They are sent through a secure connection to
  www.churchofjesuschrist.org and then discarded.
</p>

<%= form_with(url: import_jobs_path) do |form| %>
  <div class="mb-3">
    <%= form.label :username, class: 'form-label' %>
    <%= form.text_field :username, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: 'form-label' %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit "Fetch", class: 'btn btn-primary' %>

    <%= link_to "Cancel", import_jobs_path, class: "btn btn-link" %>
  </div>
<% end %>
