<div class="page-header">
  <%= link_to import_jobs_path, class: 'btn btn-default' do %>
    All Import_jobs
  <% end %>
  <h1><%= "Import Job #{@import_job.id}" %></h1>
</div>


<table class="table table-condensed table-striped">
  <tbody>
  <tr>
    <td>Id</td>
    <td><%= @import_job.id %></td>
  </tr>
  <tr>
    <td>Created at</td>
    <td><%= @import_job.created_at %></td>
  </tr>
  <tr>
    <td>Row count</td>
    <td><%= @import_job.row_count %></td>
  </tr>
  <tr>
    <td>Good count</td>
    <td><%= @import_job.success_count %></td>
  </tr>
  <tr>
    <td>Bad count</td>
    <td><%= @import_job.failure_count %></td>
  </tr>
  <tr>
    <td>Elapsed time</td>
    <td><%= pretty_duration(@import_job.elapsed_seconds) %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= progress_monitorable_status_component(@import_job) %></td>
  </tr>
  <tr>
    <td>Errors</td>
    <td>
      <% @import_job.parsed_errors.each do |error| %>
        <p style="white-space:pre-wrap"><%= JSON.pretty_generate(error) %></p>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>
