<div id="<%= dom_id access_request %>">
  <p>
    <strong>User:</strong>
    <%= access_request.user_id %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= access_request.unit_id %>
  </p>

  <p>
    <strong>Approved by:</strong>
    <%= access_request.approved_by %>
  </p>

  <p>
    <strong>Approved at:</strong>
    <%= access_request.approved_at %>
  </p>

</div>
