<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong>Request Access</strong></h2>
  </div>
</div>

<hr/>
<br/>

<article>
  <div class="d-flex justify-content-center ">
    <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
      <div class="card-body">
        <%= form_with model: @access_request do |form| %>
          <div class="row mb-2">
            <div class="col-12">
              <%= form.label :ward_name, class: "required" %>
              <%= form.text_field :unit_name,
                                  autofocus: true,
                                  placeholder: "Search for an existing ward",
                                  list: "unit_name_autocomplete",
                                  class: "form-control" %>
              <datalist id="unit_name_autocomplete">
                <% Unit.pluck(:name).sort.each do |name| %>
                  <option value="<%= name %>">
                <% end %>
              </datalist>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col">
              <%= form.submit "Submit Request", class: "btn btn-lg btn-primary" %>
            </div>
            <div class="col text-end">
              <%= link_to fa_icon("arrow-left", text: " Go back"), onboard_path, class: "btn btn-lg btn-outline-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</article>
