<div class="d-flex justify-content-center ">
  <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
    <div class="card-body">
      <%= form_with(model: member, data: { controller: "form escape-cancel", action: "turbo:submit-end->form#clear" }) do |form| %>
        <% if member.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% member.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row mb-2">
          <div class="col-12 col-md">
            <%= form.label :name, class: "required" %>
            <%= form.text_field :name,
                                class: "form-control",
                                placeholder: "Last, First",
                                autofocus: true %>
          </div>

          <div class="col-12 col-md-3">
            <%= form.label :gender, class: "required" %>
            <%= form.select :gender, options_for_select(Member.genders.keys.map { |key| [key.titleize, key] }, member.gender), {}, class: "form-select form-control" %>
          </div>

          <div class="col-12 col-md-3">
            <%= form.label "Birthdate", class: "required" %>
            <%= form.text_field :birthdate, class: "form-control", placeholder: "mm/dd/yyyy", value: form.object.birthdate.present? ? l(form.object.birthdate, format: :american) : nil %>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12 col-md">
            <%= form.label :phone_number %>
            <%= form.text_field :phone_number, class: "form-control", placeholder: "XXX-XXX-XXXX" %>
          </div>

          <div class="col-12 col-md">
            <%= form.label :email %>
            <%= form.text_field :email, class: "form-control", placeholder: "member@example.com" %>
          </div>

          <div class="col-12 col-md-2 text-md-end">
            <br/>
            <%= button_tag type: "submit", class: "btn btn-outline-primary" do %>
              <%= fa_icon("check-circle") %>
            <% end %>

            <% if member.persisted? %>
              <%= link_to fa_icon("times-circle"), member, class: "btn btn-outline-secondary", data: { "escape-cancel-target" => "link" } %>
            <% else %>
              <%= link_to fa_icon("times-circle"), members_path, target: "_top", class: "btn btn-outline-secondary", data: { "escape-cancel-target" => "link" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
