<%= turbo_frame_tag dom_id(member) do %>
  <div class="card bg-light mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="font-weight-bold"><%= member.name %></h5>
        </div>
        <div class="col">
          <h6 class="text-end"><%= member.bio %></h6>
          <% if member.last_talk_date %>
            <h6 class="text-end"><span class="badge bg-secondary"><%= member.last_talk_date %></span></h6>
          <% else %>
            <h6 class="text-end"><span class="badge bg-warning">Not Found</span></h6>
          <% end %>
        </div>
        <div class="col-2 col-md-1 text-center">
          <%= link_to_member_edit(member, class: "mt-1 mt-md-3") %>
          <%= link_to_member_delete(member, class: "mt-1 mt-md-3") %>
        </div>
      </div>
    </div>
  </div>
<% end %>
