<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= member.gender %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= member.birthdate %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= member.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

</div>
