<%= turbo_frame_tag dom_id(member) do %>
  <div class="d-flex justify-content-center">
    <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
      <div class="card-header">
        <div class="row pt-2">
          <h5 class="col font-weight-bold">
            <%= link_to fa_icon("person"), member_path(member), target: "_top", data: { "bs-toggle" => "tooltip" }, title: "Visit member page" %>&nbsp<%= member.name %>
          </h5>
          <h6 class="col-3 text-end"><%= member.bio %></h6>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <% if member.last_talk_date %>
              <h6><%= "Last talk date: #{l(member.last_talk_date, format: :rfc822)}" %></h6>
            <% else %>
              <h6><%= "Last talk date: Not found" %></h6>
            <% end %>
            <h6><%= "Phone: #{member.phone}" %></h6>
            <h6><%= "Email: #{member.email}" %></h6>
          </div>
          <div class="col-3 col-md-2 text-center">
            <%= link_to_member_edit(member, class: "mt-1 mt-md-2") %>
            <%= link_to_member_delete(member, class: "mt-1 mt-md-2") %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
