<%= content_tag :tr, id: dom_id(member), class: dom_class(member) do %>
  <td><%= link_to member.name, member %></td>
  <td><%= member.gender.titleize %></td>
  <td><%= member.age %></td>
  <td><%= member.last_talk_date %></td>
<% end %>
