<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong>Member List</strong></h2>
  </div>
  <div class="col-md">
    <h5 class="mt-md-4 pt-md-3 text-md-end text-muted"><%= filtered_and_total_count(@pagy.count, Member.count, "member") %></h5>
  </div>
</div>

<hr/>

<br/>

<div class="row">
  <div class="col-12 col-md-6 col-inline mt-1">
    <%= sort_members_dropdown(request.params, @q) %>
    <%= filter_members_age_dropdown(request.params) %>
    <%= filter_members_gender_dropdown(request.params) %>
  </div>

  <div class="col-12 col-md-6 mt-1">
    <%= search_form_for @q do |f| %>
      <div class="input-group">
        <%= f.search_field :name_cont, placeholder: "Find someone", autofocus: true, class: "form-control" %>
        <span class="input-group-append">
        <%= button_tag(type: :submit, class: 'btn btn-primary') do %>
            <i class='fas fa-search'></i>
        <% end %>
      </span>
      </div>
    <% end %>
  </div>
</div>

<hr/>

<%= turbo_frame_tag :new_member, target: "_top" do %>
  <%= link_to fa_icon("plus", text: " Add"), new_member_path, data: { turbo_frame: "new_member" }, class: "btn btn-primary" %>
<% end %>

<article>
  <%= turbo_frame_tag "page_handler" %>
  <div id="members">
    <%= render partial: "member", collection: @members %>
  </div>
  <%= render "shared/pager", pagy: @pagy %>
</article>
