<div class="row">
  <div class="col-sm-6">
    <h1>Members</h1>
  </div>

  <div class="col-sm-6 text-end">
    <%= link_to new_import_job_path, class: 'btn btn-primary' do %>
      Fetch Member Data
    <% end %>
  </div>
</div>

<hr/>

<%= search_form_for @q do |f| %>
  <div class="row">
    <div class="input-group">
      <%= f.search_field :name_cont, placeholder: "Find someone", autofocus: true, class: "form-control" %>
      <span class="input-group-append">
        <%= button_tag(type: :submit, class: 'btn btn-primary') do %>
            <i class='fas fa-search'></i>
        <% end %>
      </span>
    </div>
  </div>
<% end %>

<br/>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th><%= sort_link(@q, :name) %></th>
      <th><%= sort_link(@q, :gender, [:gender, 'name asc']) %></th>
      <th><%= sort_link(@q, :birthdate, "Age", default_order: :desc) %></th>
      <th><%= sort_link(@q, :last_talk_date) %></th>
    </tr>
    </thead>

    <tbody id="members">
    <%= render partial: "member", collection: @members %>
    </tbody>
  </table>
</div>
