<%= turbo_frame_tag :filter_and_search %>

<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong><%= "#{current_user.unit_name} Member List" %></strong></h2>
  </div>
  <div class="col-md">
    <%= render partial: "member_count", locals: { pagy: @pagy } %>
  </div>
</div>

<hr/>

<br/>

<div class="row">
  <div class="col-12 col-md-6 col-inline mt-1">
    <%= render partial: "sort_and_filter_dropdowns", locals: { q: @q } %>
  </div>

  <div class="col-12 col-md-6 mt-1">
    <%= search_form_for @q, data: { controller: "form-search-submit", turbo_frame: :filter_and_search, turbo_action: :advance } do |f| %>
      <div class="input-group">
        <%= f.search_field :name_cont, placeholder: "Find someone", autofocus: true, data: { action: "input->form-search-submit#search" }, class: "form-control" %>
        <span class="input-group-append">
        <%= button_tag(type: :submit, class: 'btn btn-primary') do %>
            <i class='fas fa-search'></i>
        <% end %>
      </span>
      </div>
    <% end %>
  </div>
</div>

<hr/>

<div class="d-flex justify-content-center">
  <div class="my-2 w-100" style="max-width: 700px;">
    <%= turbo_frame_tag :new_member do %>
      <%= link_to fa_icon("plus", text: " Add"), new_member_path, data: { turbo_frame: "new_member" }, class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>

<article>
  <%= turbo_frame_tag "page_handler" %>
  <%= render partial: "members_and_pager", locals: { members: @members, pagy: @pagy } %>
</article>
