<div class="row">
  <div class="col-sm-6">
    <h1>Members</h1>
  </div>

  <div class="col-sm-6 text-end">
    <%= link_to new_member_path, class: 'btn btn-primary' do %>
      Add New Member
    <% end %>
  </div>
</div>

<hr/>

<%= search_form_for @q do |f| %>
  <div class="row">
    <div class="input-group">
      <%= f.search_field :name_cont, placeholder: "Find someone", autofocus: true, class: "form-control" %>
      <span class="input-group-append">
        <%= button_tag(type: :submit, class: 'btn btn-primary') do %>
            <i class='fas fa-search'></i>
        <% end %>
      </span>
    </div>
  </div>
<% end %>

<br/>

<div class="row">
  <div class="col col-inline">
    <div class="btn-group">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by
      </button>
      <ul class="dropdown-menu" aria-labelledby="sort_by">
        <li><%= link_to "Name", request.params.deep_merge(q: { s: "name asc" }), class: "dropdown-item" %></li>
        <li><%= link_to "Age", request.params.deep_merge(q: { s: "birthdate desc" }), class: "dropdown-item" %></li>
        <li><%= link_to "Last talk", request.params.deep_merge(q: { s: "last_talk_date asc" }), class: "dropdown-item" %></li>
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Show
      </button>
      <ul class="dropdown-menu" aria-labelledby="sort_by">
        <li><%= link_to "All", request.params.deep_merge(q: { birthdate_gt: nil, birthdate_lt: nil }), class: "dropdown-item" %></li>
        <li><%= link_to "Adults", request.params.deep_merge(q: { birthdate_lt: 18.years.ago.beginning_of_year.to_date }), class: "dropdown-item" %></li>
        <li><%= link_to "Youth", request.params.deep_merge(q: { birthdate_gteq: 18.years.ago.beginning_of_year.to_date }), class: "dropdown-item" %></li>
      </ul>
    </div>
  </div>
</div>

<hr/>

<article>
  <%= render partial: "member", collection: @members %>
</article>
