<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong><%= @member.name %></strong></h2>
  </div>
  <div class="col-md">
    <h5 class="mt-md-4 pt-md-3 text-md-end text-muted"><%= pluralize(@member.talks.count, "talk") %></h5>
  </div>
</div>

<hr/>

<%= turbo_frame_tag dom_id(@member) do %>
  <%= render "member", member: @member %>
<% end %>

<div class="d-flex justify-content-center">
  <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
    <div class="card-header">
      <h4>Pause Invitations</h4>
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <h6>Don't suggest inviting this member to speak for:</h6>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-grid gap-2 d-md-block mx-3">
            <%= link_to_pause(@member, "1 month") %>
            <%= link_to_pause(@member, "3 months") %>
            <%= link_to_pause(@member, "6 months") %>
            <%= link_to_pause(@member, "1 year") %>
          </div>
        </div>
        <div class="col-12 col-md-2 text-md-end mt-4 mt-md-0">
          <div class="d-grid gap-2 d-md-block mx-3">
            <%= link_to "Clear", member_path(@member, member: { paused_until: nil, paused_on: nil, paused_by: nil }), method: :patch, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
    <div class="card-header">
      <h4>Notes</h4>
    </div>

    <%= turbo_frame_tag :new_note, target: "_top" do %>
      <%= render partial: "notes/form", locals: { note: @member.notes.build } %>
    <% end %>

    <div class="card-body">
      <%= turbo_frame_tag "notes" do %>
        <%= render partial: "notes/note", collection: @member.notes.most_recent_first %>
      <% end %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
    <div class="card-header">
      <h4>Talks</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Purpose</th>
          <th>Topic</th>
        </tr>
        </thead>
        <tbody>
        <% @member.talks.sort_by_meeting_date_desc.each do |talk| %>
          <tr>
            <td>
              <%= link_to fa_icon("calendar-alt"), meeting_path(talk.meeting), data: { "bs-toggle" => "tooltip" }, title: "Visit meeting page" %>&nbsp
              <%= l(talk.date, format: :rfc822) %></td>
            <td><%= talk.purpose %></td>
            <td><%= talk.topic_truncated %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
