<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong><%= @member.name %></strong></h2>
  </div>
  <div class="col-md">
    <h5 class="mt-md-4 pt-md-3 text-md-end text-muted"><%= pluralize(@member.talks.count, "talk") %></h5>
  </div>
</div>

<hr/>

<%= turbo_frame_tag dom_id(@member) do %>
  <%= render "member", member: @member %>
<% end %>

<div class="d-flex justify-content-center">
  <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
    <div class="card-header">
      <h4>Talks</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Purpose</th>
          <th>Topic</th>
        </tr>
        </thead>
        <tbody>
        <% @member.talks.most_recent_first.each do |talk| %>
          <tr>
            <td>
              <%= link_to fa_icon("calendar-alt"), meeting_path(talk.meeting) %>&nbsp
              <%= l(talk.date, format: :rfc822) %></td>
            <td><%= talk.purpose %></td>
            <td><%= talk.topic_truncated %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
    <div class="card-header">
      <h4>Notes</h4>
    </div>

    <%= turbo_frame_tag :new_note, target: "_top" do %>
      <%= render partial: "notes/form", locals: { note: @member.notes.build } %>
    <% end %>

    <div class="card-body">
      <%= turbo_frame_tag "notes" do %>
        <%= render partial: "notes/note", collection: @member.notes.most_recent_first %>
      <% end %>
    </div>
  </div>
</div>
