<div class="row">
  <div class="col-md">
    <h2 class="mt-md-4 mt-2"><strong><%= @member.name %></strong></h2>
  </div>
  <div class="col-md">
    <h5 class="mt-md-4 pt-md-3 text-md-end text-muted"><%= pluralize(@member.talks.count, "talk") %></h5>
  </div>
</div>

<hr/>

<%= turbo_frame_tag dom_id(@member) do %>
  <%= render "member", member: @member %>
<% end %>

<div class="d-flex justify-content-center">
  <div class="card bg-light mt-2 w-100" style="max-width: 700px;">
    <div class="card-header">
      <h4>Talks</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Purpose</th>
          <th>Topic</th>
        </tr>
        </thead>
        <tbody>
        <% @member.talks.most_recent_first.each do |talk| %>
          <tr>
            <td>
              <%= link_to fa_icon("scroll"), talk_path(talk) %>
            </td>
            <td><%= l(talk.date, format: :rfc822) %></td>
            <td><%= talk.purpose %></td>
            <td><%= talk.topic_truncated %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
